<section class="page-header">
  <h1 class="project-name">{{ page.title }}</h1>
  <h2 class="project-tagline">{{ page.tagline }}</h2>

  <!-- Buttons -->
  {% if page.buttonNames %}
    {% for name in page.buttonNames %}
      {% assign index = forloop.index|minus: 1 %}
      {% assign link = page.buttonLinks[index] %}
        <a href="{{ link }}" class="btn">{{ name }}</a>
      {% endfor %}
  {% endif %}

  {% if page.layout == 'home' %}
    <a href="http://bit.ly/lab-lfa" target="_blank" class="btn">Grades</a>
    <a href="{{ site.baseurl }}{{ site.posts.first.url }}" class="btn">Latest: {{ site.posts.first.title }}</a>
  {% endif %}

</section>
